* {
    margin: 0px;
    padding: 0px;
}

.jokesBox #jokes {
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 48px;
    /* padding: 30px; */
}



.jokesBox #jokesAnswere {
    background-color: rgb(212, 212, 81);
    color: white;
    text-align: center;
    font-size: 48px;
    /* padding : 30px; */
}

.jokesBox #showAnswereButton {
    text-align: center;
    margin-left: 450px;
    display: none;
}

.jokesBox #nextJokesButton {
    text-align: center;
    margin-left: 462px;
    display: none;
}